@font-face{ 
    font-family: SofiaRegular;
    src: url("../fonts/Sofia\ Pro\ Regular\ Az.otf");
  }
  @font-face{ 
    font-family: SofiaMedium;
    src: url("../fonts/Sofia\ Pro\ Medium\ Az.otf");
     }
  @font-face{
    font-family: SofiaLight;
    src : url("../fonts/Sofia\ Pro\ Light\ Az.otf");
  }
  @font-face {
    font-family: SofiaBold;
    src : url("../fonts/Sofia\ Pro\ Bold\ Az.otf");
    }
  @font-face {
  font-family: SofiaSemiBold;
  src : url("../fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf");
  }
  
.containerText{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
}
@media screen and (max-width: 960px){

    .containerText{
        margin-top:5rem;
        width: 100%;
    }
}
.containerText > h1 {
    margin-left: 30px;
    padding-left: 1rem;
    color:#353535;
    font-size: 55px;
    margin-top: 0px;
    font-family: SofiaSemiBold;

}

.containerText > p {
    margin-left: 30px;
    padding-left: 1rem;
    margin-top: 50px;
    color: #353535;
    font-size: 18px;
    font-family: SofiaMedium;

}

.containerText-btns{
    padding-left: 1rem;
    margin-top: 50px;;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 960px){
    .containerText > h1 {
        margin-left: 0;
        font-size: 24px;
        margin-top:20px;
    }
    .containerText-btns{
        margin-top:1rem;
        margin-bottom: 5rem;
        margin-left: 0px;
    }
}

@media screen and (max-width: 960px){
    .containerText > h1 {
        text-align: center;
        font-size: 32px;
        font-family: SofiaSemiBold;
        font-weight: 300;
        width: 90%;
        padding:.5rem;
    }

    .containerText > p {
        margin-left: 0px;
       font-size: 18px;
       width: 90%;
    }
}

.showoffImg {
    margin-left:2rem;
    height: 65%;
    content:url("../../images/phone.png");
    justify-content: center;
    width: 100vh;
    z-index: 10;
    padding-left: 5rem;
    padding-right: 5rem;
}
  @media screen and (max-width: 960px){
    .showoffImg {
        margin-bottom:5rem;
        width: 120%;
        height: 100%;
        justify-content: center;
        align-self: center;  }
    }