@font-face{ 
    font-family: SofiaRegular;
    src: url("../fonts/Sofia\ Pro\ Regular\ Az.otf");
  }
  @font-face{ 
    font-family: SofiaMedium;
    src: url("../fonts/Sofia\ Pro\ Medium\ Az.otf");
     }
  @font-face{
    font-family: SofiaLight;
    src : url("../fonts/Sofia\ Pro\ Light\ Az.otf");
  }
  @font-face {
    font-family: SofiaBold;
    src : url("../fonts/Sofia\ Pro\ Bold\ Az.otf");
    }
  @font-face {
  font-family: SofiaSemiBold;
  src : url("../fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf");
  }

  .title{
    font-family: SofiaBold;
    color:rgb(73, 73, 73);
    font-size: 32px;
    font-weight: 400;
    padding-top:10px;
    padding-bottom: 10px;
  }
  .description{
    font-family: SofiaBold;
    color:grey;
    font-size: 16px;
    width:400px;
    font-weight: 100;
    padding-bottom: 20px;
  }
  .container{
    padding-top:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
  }

  .containerItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .containerItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
  }

  .divImg{
    width: 450px;
    height: 318px;
  }
  .buttonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
  .icon{
    padding-right: 10px;
    font-size: 26px;
  }
  .btn{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 130px;
    height: 40px;
    border:1px solid rgb(197, 197, 197);
    border-radius: 3.5px;
    font-family: SofiaRegular;
    font-weight: 1000px;
    font-size: 16px;
    
  }
  .btn:hover{
    border: none;
    background-color: #1668b2;
    transition: 0.3s  ease-in-out;
    color:white;
    
  }
  
 .bgImg{
   
   background-image:url("../../images/majstorProject.png");
 }
 .bgImg2{
   
  background-image:url("../../images/snjeznadolina.jpg");
}

.bgImg3{
   
  background-image:url("../../images/ermex.jpg");
}

.bgImg4{
   
  background-image:url("../../images/5thdimension.jpg");
}

.bgImg5{
   
  background-image:url("../../images/bbq.png");
}

.bgImg6{
   
  background-image:url("../../images/dedeka.png");
}

.testimonialsBg{
   
  background-image:url("../../images/testimonialsBG.jpg");
}
 .iconColor1{
  color: rgb(253, 101, 46);
 }
 .buttoncolor1{
  background-color: rgb(253, 101, 46);
 }

 .iconColor{
  color: rgb(233, 50, 126);
 }
 .buttonColor{
   background-color: rgb(233, 50, 126);
 }
 
 .header{
   padding-top:30px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .header1txt{
   font-family: SofiaMedium;
   font-size:42px;
   color:rgb(54, 54, 54);

 }

 .header2txt{
   font-family: SofiaBold;
   font-size: 60px;
   padding-left:15px;
   padding-bottom: 10px;
   color:rgb(206, 32, 125);
 }
 .projectDiagram{
   height: 40px;
   width: 40px;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:rgba(223, 96, 164, 0.295);
  
 }
 .projectIcon{
  color:rgb(233, 76, 160);
  font-size: 20px;
  font-weight: 600;
 }

 .testimonialsWrapper{
   height: 100vh;
   width: 146.5%;
   display: flex;
   flex-direction: column;
   column-gap: 50px;
   justify-content: center;
   align-items: center;
 }
 .testImg{
  background-image:url("../../images/spasoje.jpg");
  width: 300px;
  height: 387px;
  } 
  .testimonal1{
    height: 100vh;
    width: 1000px;
    display: flex;
    flex-direction: row;
  }
 .clientName{
   padding-bottom: 5px;
   padding-top:5px;
   font-family: SofiaBold;
   font-size: 32px;
   color: rgb(49, 49, 49);
 }

 .clientDesc{
   width: 300px;
   font-family: SofiaRegular;
   font-size: 20px;
   color:rgb(85, 85, 85);
 } 

 .testImg2{
  background-image:url("../../images/sinisa.jpg");
  width: 300px;
  height: 387px;
 }
 .testImg3{
  background-image:url("../../images/zlaja.jpg");
  width: 300px;
  height: 387px;
 }

 .clientNameCEO{
   font-family: SofiaBold;
   color: rgb(110, 110, 110);
   font-size: 14px;
   padding-bottom: 7px;

 }

 .rowrapper{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   column-gap: 50px;
 }
 .header1txtTesti{
  font-family: SofiaMedium;
  font-size:42px;
  color:rgb(54, 54, 54);
  padding-bottom: 50px;

}
 .header2txtTesti{
  font-family: SofiaBold;
  font-size: 60px;
  padding-left:15px;
  padding-bottom: 60px;
  color: #1668b2;
 }

 .projectDiagramTesti{
  height: 40px;
  width: 40px;
  border-radius: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1669b252;
 
}

.projectIconTesti{
  color: #1668b2;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 960px){
  .testimonialsWrapper{
    height: auto;
    width:100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .containerItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: auto;
    }
.containerItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divImg{
  width: 100%;
}
.bgImg{
  width:100%;
}
.buttonWrapper{
  width: 100%;
  column-gap:2px;
}
.rowrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientDesc{
  padding-bottom: 30px;
}
.header1txtTesti{
  padding-bottom: 10px;
  padding-left: 0px;
}
.header2txtTesti{
  font-family: SofiaBold;
  font-size: 60px;
  padding-left: 0px;
  padding-bottom: 60px;
  color: #1668b2;
 }
 .description{
   width: 100%;
 }
 .btn{
   font-size: 14px;
   width: 100%;
 }
 .bgImg{
  width: 320px;
 }
 .bgImg2{
   width: 320px;
 }
 .bgImg3{
  width: 320px;
 }
 .bgImg4{
  width: 320px;
 }
 .bgImg5{
  width: 320px;
 }
 .bgimg6{
  width: 320px;
 }

 .title{
   width: auto;
 }

    }