@font-face{ 
    font-family: SofiaRegular;
    src: url("../fonts/Sofia\ Pro\ Regular\ Az.otf");
  }
  @font-face{ 
    font-family: SofiaMedium;
    src: url("../fonts/Sofia\ Pro\ Medium\ Az.otf");
     }
  @font-face{
    font-family: SofiaLight;
    src : url("../fonts/Sofia\ Pro\ Light\ Az.otf");
  }
  @font-face {
    font-family: SofiaBold;
    src : url("../fonts/Sofia\ Pro\ Bold\ Az.otf");
    }
  @font-face {
  font-family: SofiaSemiBold;
  src : url("../fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf");
  }
  

.hero-container333 {
    background: url('../../images/bgminimal.png') center center/
    cover no-repeat;
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.03);
    object-fit: contain;
    margin-top: -80px;
    z-index: 55;

  
    }
    

        .containerNaslov13335{
            margin-top: 1rem;
            font-family: SofiaBold;
            font-size:50px;
            color:#3a3a3a;
        }
        .containerNaslov333{
            margin-top: 0.2rem;
            font-family: SofiaBold;
            font-size:65px;
            color: #1668b2;
        }

        .aboutText333{
            margin-top:2.5rem;
            font-family: SofiaLight;
            font-weight: 500;
            font-size: 18px;
            color:#3a3a3a;
        }
        .textWrapper3335{
            width:700px;
            height: 100vh;
            margin-top:5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .spanCircle333{
        font-size: 24px;
        font-weight: 600;
        color: #1668b2;

        }
        .spanwrapper333{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            background-color:#1669b228;
            border-radius: 50px;
        }

        .aboutImage333{
            margin-top:3rem;
            justify-content: center;
            align-items: center;
            background: url('../../images/aboutillustration.png')  center center/
            cover no-repeat;
            height: 300px;
            width: 70%;

        }
        @media screen and (max-width: 960px){
            .hero-container333{
                margin-top:-120px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
            }
            .containerNaslov13335{
                font-size: 40px;
            }
            .containerNaslov333{
                font-size: 32px;
            }
            .textWrapper3335{
                padding-top:100px;
                height: auto;
                width: 90%;
                padding-bottom: 100px;
            }
            .aboutImage333{
            
                width: 250px;
              height: 150px;
              margin-left: 0px;
              margin-right:0px;
            }
        }